fastapi
uvicorn


#friend := https://tap-allow-to-unlock-surprise.onrender.com/track.html
# map := https://tap-allow-to-unlock-surprise.onrender.com/map.html


#https://tap-allow-to-unlock-surprise.onrender.com/track.html?user=rohan